<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>
<% for(let campground of campgrounds) {%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(campground.images.length) {%>
                <img class="img-fluid" alt="" style="width: 100%; height: 300px;" src="<%=campground.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                   src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/11/Camping-in-Kullu-29_nov2.jpg" >
                <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %> </p>
                <p class="card-text">
                    <small><%= campground.location %></small>
                </p>
                <a href="campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %> </a>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features:<%- JSON.stringify(campgrounds) %> };
</script>

<script src="/javascripts/clusterMap.js"></script>

<!-- src="https://res.cloudinary.com/dl4yx3vmj/image/upload/v1637087325/YelpCamp/jng97zhcnrqbldktcoox.jpg" -->